<%= render "shared/errors", obj: obj %>

<div class="col-8 offset-2" id="<% obj.id %>">
  <h4><%= obj.question.present? ? obj.question : "Error: question not available" %></h4>
  <%= form_for obj, remote: true do |f| %>
	<%= render 'text_questions/answer', f: f, obj: obj %>
  <% end %>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
