<%= render "shared/errors", obj: question %>

<div class="col-12" id="<% question.id %>">
  <h4><%= question.question.present? ? question.question : "Error: question not available" %></h4>
  <%= form_for @answer do |f| %>
	<%= render 'text_questions/answer', f: f, question: question %>
  <% end %>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
