<div class="center jumbotron">
  <table>
    <tr>
      <td>
        <div class="card" style="width: 18rem; text-align: left;">
          <img src="pwc.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PWC</h5>
            <p class="card-text">Spis på frati!</p>
            <%= link_to "Meld på", "#", class: "btn btn-primary" %>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <% if !logged_in? %>
  	<%= link_to "Register", register_path, class: "btn btn-light" %>
  <% end %>
</div>





