<!-- NEW QUESTIONS -->
<%= form_for [:admin, @text_question], remote: true do |f| %>
  <%= render 'shared/errors', obj: @text_question %>
  <%= render 'form', f: f %>
<% end %>


<!-- EXISTING QUESTIONS -->
<div class="col-8 offset-2" id="questions">
  <% @text_questions.each do |question| %>
	<%= render 'question', obj: question %>
  <% end %>
</div>
