<div class="col-8 offset-2">
  <h1 class="mb-4">Categories</h1>
  <ul>
    <div class="col-8 mb-4" style="align-self: center"><%= will_paginate%></div>
    <% @categories.each do |category| %>
      <div class="card card-body mb-2 col-4 offset-4">
        <%= link_to category.name, category_path(category) %>
      </div>
    <% end %>
    <div class="col-8 mb-4" style="align-self: center"><%= will_paginate%></div>
  </ul>

</div>
